{% extends 'base.html' %}

{% block titulo%}
Perfil de Usuario
{%endblock%}

{% block contenido %}
<div class="container"> 
<div class="card-columns mt-3">
  
  <div class="card text-center" style="width: 20rem; align-items: center;">
    <div class="card-body" style="align-content: center">
        <h5 class="card text-center">Perfil de Usuario</h5>
        {% if usuario.image %}  
        <img src="{{usuario.image.url}}" class="card-img-top" >
        {% endif %}
        <p class="card-text" style="margin-top:1rem;">Nombre: {{usuario.first_name}}</p>
        <p class="card-text"> Apellido: {{usuario.last_name}}</p>
        <p class="card-text" style="margin-top:1rem;">Email: {{usuario.email}}
        <p class="card-text" style="margin-top:1rem;">Descripción: {{usuario.description}}
        <p class="card-text" style="margin-top:1rem;">Link: {{usuario.link}}
        <div class="card-bottom" style="margin-bottom: 1rem;" >
          <a href="/accounts/update_user/" style="background-color:cornflowerblue; border-color: black; color:black"   class="btn btn-primary">Editar</a> 
    
        </div>
    </div>  
</div>
</div>
</div>
{%endblock%}