{% extends 'base.html' %}

{% block titulo%}
Postres
{%endblock%}

{% block contenido %}
<div class="container"> 
    <div class="card-columns mt-3">
      {% for postre in postres %}
      
      <div class="card text-center" style="width: 20rem;">
          <div class="card-body" style="align-content: center">
              <h5 class="card text-center">{{postre.nombre}}</h5>
              {% if postre.foto %}  
              <img src="{{postre.foto.url}}" class="card-img-top" >
              {% endif %}  
              <p class="card-text" style="margin-top:1rem; justify-content: center;">{{postre.ingredientes}}</p>
              <p class="card-text">$ {{postre.precio}}</p>
          </div>
          <div class="card-bottom" style="margin-bottom: 1rem;" >
            <a href="/postre_detail/{{postre.id}}" style="background-color:floralwhite; border-color: black; color:black"   class="btn btn-primary">Ver más</a>
        </div>
    
      </div>
    
      {% endfor %}
    </div>
    {% if request.user.is_superuser %}
    <div class="d-flex" style="margin-top:2rem; margin-left:3rem; margin-bottom: 3rem;">
    <a href="/agregar_postre/" class="btn btn-primary btn active" role="button" aria-disabled="true">Agregar Postre</a>
    </div>
    </div>
    {% endif %}
    {% endblock %}